html, body, body div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, figure, footer, header, hgroup, menu, nav, section, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

article, aside, figure, footer, header, hgroup, nav, section {
  display: block; }

header, section, footer {
  clear: both; }

html {
  overflow-y: scroll; }

ul {
  list-style: outside disc;
  margin: 15px 0 15px 30px; }

ol {
  list-style: outside decimal;
  margin: 15px 0 15px 30px; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

td, td img {
  vertical-align: top; }

button, input, select, textarea {
  margin: 0;
  outline: none; }

input::-moz-focus-inner, button::-moz-focus-inner {
  padding: 0;
  border: 0; }

input, select {
  vertical-align: middle; }

input[type=radio], input[type=checkbox] {
  margin: 1px 4px 4px 0; }

input[type=text], input[type=password] {
  border-radius: 0;
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  resize: vertical;
  border-radius: 0;
  -webkit-appearance: none; }

button, input[type=submit] {
  width: auto;
  overflow: visible; }

.ie7 input[type=submit], .ie7 input[type=reset], .ie7 input[type=button] {
  -webkit-filter: chroma(color=#000000);
  filter: chroma(color=#000000); }

input[type=button],
input[type=submit],
button {
  cursor: pointer;
  border-radius: 0;
  -webkit-appearance: none; }

blockquote, q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none; }

del {
  text-decoration: line-through; }

abbr[title], dfn[title] {
  border-bottom: 1px dotted #000;
  cursor: help; }

small {
  font-size: 85%; }

strong {
  font-weight: bold; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
  font-size: 0;
  line-height: 0; }

pre, code, kbd, samp {
  font-family: monospace, sans-serif; }

pre {
  white-space: pre;
  /* CSS2 */
  white-space: pre-wrap;
  /* CSS 2.1 */
  white-space: pre-line;
  /* CSS 3 (and 2.1 as well, actually) */
  word-wrap: break-word;
  /* IE */ }

.ie7 img {
  -ms-interpolation-mode: bicubic; }

.clear {
  clear: both;
  height: 0;
  font-size: 0;
  line-height: 0; }

.center {
  text-align: center;
  margin-left: auto;
  margin-right: auto; }

/* Slider */
.slick-slider {
  position: relative;
  display: block;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent; }

.slick-list {
  position: relative;
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0; }

.slick-list:focus {
  outline: none; }

.slick-list.dragging {
  cursor: pointer;
  cursor: hand; }

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.slick-track {
  position: relative;
  top: 0;
  left: 0;
  display: block;
  margin-left: auto;
  margin-right: auto; }

.slick-track:before,
.slick-track:after {
  display: table;
  content: ''; }

.slick-track:after {
  clear: both; }

.slick-loading .slick-track {
  visibility: hidden; }

.slick-slide {
  display: none;
  float: left;
  height: 100%;
  min-height: 1px; }

[dir='rtl'] .slick-slide {
  float: right; }

.slick-slide img {
  display: block; }

.slick-slide.slick-loading img {
  display: none; }

.slick-slide.dragging img {
  pointer-events: none; }

.slick-initialized .slick-slide {
  display: block; }

.slick-loading .slick-slide {
  visibility: hidden; }

.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent; }

.slick-arrow.slick-hidden {
  display: none; }

/*	-------------------------------------------------
	Custom fonts
	------------------------------------------------- */
@font-face {
  font-family: '';
  src: url(".eot");
  src: url(".eot?#iefix") format("embedded-opentype"), url(".woff") format("woff"), url(".ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'GraublauSansDisplayRegular';
  src: url("../fonts/GraublauSansDisplayRegular.eot");
  src: url("../fonts/GraublauSansDisplayRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/GraublauSansDisplayRegular.woff") format("woff"), url("../fonts/GraublauSansDisplayRegular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'GraublauSansDisplayLight';
  src: url("../fonts/GraublauSansDisplayLight.eot");
  src: url("../fonts/GraublauSansDisplayLight.eot?#iefix") format("embedded-opentype"), url("../fonts/GraublauSansDisplayLight.woff") format("woff"), url("../fonts/GraublauSansDisplayLight.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'GraublauSlabBold';
  src: url("../fonts/GraublauSlabBold.eot");
  src: url("../fonts/GraublauSlabBold.eot?#iefix") format("embedded-opentype"), url("../fonts/GraublauSlabBold.woff") format("woff"), url("../fonts/GraublauSlabBold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'GraublauSlabHeavy';
  src: url("../fonts/GraublauSlabHeavy.eot");
  src: url("../fonts/GraublauSlabHeavy.eot?#iefix") format("embedded-opentype"), url("../fonts/GraublauSlabHeavy.woff") format("woff"), url("../fonts/GraublauSlabHeavy.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'GraublauSlabHeavyItalic';
  src: url("../fonts/GraublauSlabHeavyItalic.eot");
  src: url("../fonts/GraublauSlabHeavyItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/GraublauSlabHeavyItalic.woff") format("woff"), url("../fonts/GraublauSlabHeavyItalic.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

/*	-------------------------------------------------
	Basic styles
	------------------------------------------------- */
html {
  background-color: #03091f;
  min-width: 1280px;
  height: 100%; }

body {
  position: relative;
  font-family: 'GraublauSansDisplayRegular';
  font-size: 18px;
  line-height: 20px;
  overflow: hidden;
  background-size: cover;
  color: #fff;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  min-height: 100%; }

a {
  color: inherit;
  text-decoration: none; }
  a:hover {
    text-decoration: none; }
  a.ajax-link {
    text-decoration: none; }

h1 {
  font-weight: normal; }

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

* {
  min-height: 0;
  min-width: 0; }

/*	-------------------------------------------------
	Print styles
	------------------------------------------------- */
/*	-------------------------------------------------
	Styles
	------------------------------------------------- */
.popup{
  z-index:5;
  position: absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background-color: rgba(0,252,255,0.5);
  -moz-transition: all ease-in-out 0.3s;
        -o-transition: all ease-in-out 0.3s;
        -webkit-transition: all ease-in-out 0.3s;
        transition: all ease-in-out 0.3s;
}
.popup-wrap{
  padding-top:92px;
  text-align:   center;
  position: fixed;
  /* Style for "050923" */
width: 700px;
height: 650px;
border-radius: 6px;
background-color: #050923;
top:50vh;
left:50vw;

transform:translateX(-50%)translateY(-50%);
}
.popup.hidden{
    opacity:0;
    visibility:   hidden;
    pointer-events:none;
}
.minigame-question-unit.last .minigame-question-unit-video{
    height:770px!important;
}
.popup-title{
  /* Style for "Игра со зв" */
margin-bottom:25px;
color: #ffffff;
 font-family: 'GraublauSlabHeavy';
font-size: 80px;
font-weight: 400;
line-height: 69.1px;
}
.popup-text{
  margin-bottom: 60px;
  font-size: 20px;
  line-height:  21px;
}
.popup-button{
  /* Style for "кнопка" */
width: 270px;
height: 66px;
color: #1e272a;
cursor:   pointer;
margin:0 auto;
line-height:  66px;
border-radius: 33px;
background-color: #00fcff;
}
.wrapper {
  margin: 0 auto; }

video::-internal-media-controls-download-button {
  display: none; }

video::-webkit-media-controls-enclosure {
  overflow: hidden; }

video::-webkit-media-controls-panel {
  width: calc(100% + 30px);
  /* Adjust as needed */ }

.container {
  width: 1280px;
  margin: 0 auto; }

.hide {
  z-index: -2;
  position: absolute !important;
  opacity: 0; }

.smallgame-body .body-wrap {
  z-index: 1;
  position: relative; }

.smallgame-body .main-branch {
  top: 1067px; }

.smallgame-body .main-figure {
  top: 1202px; }

.smallgame-body .main-buttons-unit-wrap.big-wrap {
  display: none; }

.biggame-body .main-buttons-unit-wrap.small-wrap {
  display: none; }

.main {
  position: relative;
  min-width: 1280px;
  overflow: hidden;
  background: -webkit-gradient(linear, left top, left bottom, from(#00030b), color-stop(33%, #5b003c), color-stop(76%, #03091f), to(#03091f));
  background: -webkit-linear-gradient(top, #00030b 0%, #5b003c 33%, #03091f 76%, #03091f 100%);
  background: -o-linear-gradient(top, #00030b 0%, #5b003c 33%, #03091f 76%, #03091f 100%);
  background: linear-gradient(to bottom, #00030b 0%, #5b003c 33%, #03091f 76%, #03091f 100%);
  padding-top: 156px;
  padding-bottom: 568px; }
  .main-socials {
    position: absolute;
    right: 50px;
    top: 370px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-align: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
    .main-socials-unit:not(:last-child) {
      margin-bottom: 47px; }
  .main .hashtag {
    position: absolute; }
    .main .hashtag-01 {
      top: 720px;
      left: calc(50% - 890px); }
    .main .hashtag-02 {
      top: 720px;
      right: calc(50% - 890px); }
    .main .hashtag-03 {
      bottom: 218px;
      left: calc(50% - 890px); }
    .main .hashtag-04 {
      bottom: 218px;
      right: calc(50% - 890px); }
  .main > .container {
    position: relative; }
  .main-branch {
    top: 858px;
    left: calc(50% - 960px);
    position: absolute;
    pointer-events: none;
    background-image: url(../images/main-branch.png);
    background-repeat: no-repeat;
    width: 800px;
    height: 911px; }
  .main-fireworks {
    background-image: url(../images/main-fireworks.png);
    position: absolute;
    top: 274px;
    pointer-events: none;
    left: calc(50% + 229px);
    width: 560px;
    height: 365px; }
  .main-lightbulbs-01 {
    pointer-events: none;
    width: 394px;
    height: 353px;
    position: absolute;
    top: 0;
    left: calc(50% - 960px);
    background-repeat: no-repeat;
    background-image: url(../images/main-lights-01.png); }
  .main-lightbulbs-02 {
    pointer-events: none;
    width: 1001px;
    height: 421px;
    position: absolute;
    top: 0;
    z-index: 0;
    right: calc(50% - 960px);
    background-repeat: no-repeat;
    background-image: url(../images/main-lights-02.png); }
  .main-figure {
    z-index: 1;
    top: 992px;
    left: calc(50% + 373px);
    position: absolute;
    width: 480px;
    background-repeat: no-repeat;
    pointer-events: none;
    height: 700px;
    background-image: url(../images/main-man.png); }
  .main-stripes {
    position: absolute;
    z-index: 0;
    top: 26px;
    left: calc(50% - 825px);
    background-repeat: no-repeat;
    pointer-events: none;
    width: 1714px;
    height: 1793px;
    background-image: url(../images/background-stripes.png); }
  .main-header {
    position: relative;
    z-index: 1;
    margin-bottom: 75px; }
    .main-header .mozgva-logo {
      margin-left: 5px; }
    .main-header .goods-logo {
      margin-left: 36px; }
    .main-header-message {
      width: 600px;
      vertical-align: top;
      margin-left: 80px;
      display: inline-block; }
      .main-header-message-text {
        width: calc(100% - 100px);
        float: left; }
      .main-header-message-image {
        margin-right: 20px;
        float: left; }
      .main-header-message-title {
        margin-bottom: 10px;
        line-height: 24px;
        font-family: 'GraublauSlabBold';
        font-size: 24px;
        position: relative; }
        .main-header-message-title:after {
          left: 182px;
          top: 2px;
          position: absolute;
          content: url(../images/icon-sound.png); }
      .main-header-message-subtext {
        padding: 0 10px;
        display: inline-block;
        background-color: #1d28ff;
        line-height: 30px; }
  .main-title {
    font-family: 'GraublauSlabHeavy';
    font-size: 155px;
    line-height: 139.34px; }
    .main-title span {
      color: #ff0000; }
  .main-buttons {
    margin-top: 130px; }
    .main-buttons-unit {
      font-size: 24px;
      letter-spacing: -0.06px;
      display: inline-block;
      height: 91px;
      border-radius: 90px;
      text-align: center;
      line-height: 90px; }
      .main-buttons-unit-wrap {
        position: relative;
        display: inline-block; }
        .main-buttons-unit-wrap img {
          pointer-events: none; }
        .main-buttons-unit-wrap.small-wrap {
          margin-left: 19px; }
          .main-buttons-unit-wrap.small-wrap img {
            position: absolute; }
            .main-buttons-unit-wrap.small-wrap img.lightbulb {
              right: 20px;
              top: -41px; }
            .main-buttons-unit-wrap.small-wrap img.balls {
              top: 2px;
              left: -62px; }
        .main-buttons-unit-wrap.big-wrap {
          margin-left: 34px; }
          .main-buttons-unit-wrap.big-wrap img {
            position: absolute;
            top: -51px;
            left: -37px; }
      .main-buttons-unit.download {
        color: #1d212a;
        -moz-transition: all ease-in-out 0.3s;
        -o-transition: all ease-in-out 0.3s;
        -webkit-transition: all ease-in-out 0.3s;
        transition: all ease-in-out 0.3s;
        font-size: 18px;
        border-radius: 66px;
        background-color: #ffb71b;
        margin-left: 50px;
        margin-top: 12.5px;
        width: 380px;
        height: 66px;
        line-height: 66px;
        display: inline-block;
        text-align: left; }
        .main-buttons-unit.download .info {
          padding-left: 55px;
          display: inline-block;
          height: 100%;
          position: relative; }
          .main-buttons-unit.download .info:before {
            left: 24px;
            top: 3px;
            content: url(../images/icon-download.png);
            position: absolute; }
        .main-buttons-unit.download .text {
          padding-left: 22px;
          display: inline-block;
          height: 100%;
          position: relative; }
          .main-buttons-unit.download .text:before {
            position: absolute;
            top: 12px;
            left: 10px;
            content: "";
            width: 2px;
            height: 44px;
            background-color: #000000;
            opacity: 0.1; }
        .main-buttons-unit.download:hover {
          background-color: #ffcc5c; }
      .main-buttons-unit.small {
        width: 250px;
        -moz-transition: all ease-in-out 0.3s;
        -o-transition: all ease-in-out 0.3s;
        -webkit-transition: all ease-in-out 0.3s;
        transition: all ease-in-out 0.3s;
        -webkit-box-shadow: 0 10px 50px rgba(29, 40, 255, 0.7);
        box-shadow: 0 10px 50px rgba(29, 40, 255, 0.7);
        background-color: #1d28ff;
        background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(41, 10, 89, 0.4)), to(rgba(0, 186, 255, 0.4)));
        background-image: -webkit-linear-gradient(top, rgba(41, 10, 89, 0.4) 0%, rgba(0, 186, 255, 0.4) 100%);
        background-image: -o-linear-gradient(top, rgba(41, 10, 89, 0.4) 0%, rgba(0, 186, 255, 0.4) 100%);
        background-image: linear-gradient(to bottom, rgba(41, 10, 89, 0.4) 0%, rgba(0, 186, 255, 0.4) 100%); }
        .main-buttons-unit.small:hover {
          -webkit-box-shadow: 0 10px 50px rgba(29, 40, 255, 0.9);
          box-shadow: 0 10px 50px rgba(29, 40, 255, 0.9); }
      .main-buttons-unit.big {
        width: 391px;
        -webkit-box-shadow: 0 10px 50px rgba(255, 0, 5, 0.7);
        box-shadow: 0 10px 50px rgba(255, 0, 5, 0.7);
        -moz-transition: all ease-in-out 0.3s;
        -o-transition: all ease-in-out 0.3s;
        -webkit-transition: all ease-in-out 0.3s;
        transition: all ease-in-out 0.3s;
        background-color: #ff0000;
        background-image: -webkit-gradient(linear, left top, left bottom, from(#ff0e0e), to(#ff4800));
        background-image: -webkit-linear-gradient(top, #ff0e0e 0%, #ff4800 100%);
        background-image: -o-linear-gradient(top, #ff0e0e 0%, #ff4800 100%);
        background-image: linear-gradient(to bottom, #ff0e0e 0%, #ff4800 100%); }
        .main-buttons-unit.big:hover {
          -webkit-box-shadow: 0 10px 50px rgba(255, 0, 5, 0.9);
          box-shadow: 0 10px 50px rgba(255, 0, 5, 0.9); }
  .main-text {
    margin-top: 282px;
    padding-left: 350px; }
    .main-text-big {
      margin-bottom: 31px;
      font-family: 'GraublauSlabHeavy';
      font-size: 60px;
      line-height: 60px;
      letter-spacing: -1.5px; }
    .main-text-small {
      width: 480px;
      margin-bottom: 16px;
      line-height: 24px;
      padding-left: 2px;
      font-size: 20px;
      letter-spacing: -0.37px;
      color: rgba(255, 255, 255, 0.7); }

.footer {
  width: 100%;
  left: 0;
  position: absolute;
  bottom: 0;
  z-index: 1; }
  .footer-menu {
    padding-left: 130px;
    font-family: 'GraublauSlabBold';
    float: left;
    width: 850px;
    border-right: 2px solid rgba(255, 255, 255, 0.1); }
    .footer-menu-unit {
      margin-bottom: 13px;
      font-size: 16px;
      color: #ccc;
      width: 50%;
      float: left;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      height:35px;
       }
      .footer-menu-unit-link {
        -moz-transition: all ease-in-out 0.3s;
        -o-transition: all ease-in-out 0.3s;
        -webkit-transition: all ease-in-out 0.3s;
        transition: all ease-in-out 0.3s; }
        .footer-menu-unit-link:hover {
          color: #fff; }
      .footer-menu-unit:nth-child(2n-1) {
        width: 46%; }
      .footer-menu-unit-image {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        width: 67px;
        text-align: left; }
  .footer-info {
    padding-top: 8px;
    padding-left: 48px;
    font-size: 14px;
    float: right;
    width: 430px;
    color: #d1d1d1; }
    .footer-info-unit {
      margin-bottom: 10px; }
    .footer-info a {
      -moz-transition: all ease-in-out 0.3s;
      -o-transition: all ease-in-out 0.3s;
      -webkit-transition: all ease-in-out 0.3s;
      transition: all ease-in-out 0.3s; }
      .footer-info a:hover {
        color: #fff; }
  .footer-bottomline {
    margin-top: 35px;
    height: 80px;
    background-color: #000000; }
    .footer-bottomline-left {
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      height: 100%; }
    .footer-bottomline-right {
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      height: 100%; }
    .footer-bottomline .container {
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      height: 100%; }
  .footer-location {
    margin-left: 28px;
    padding-left: 28px;
    font-size: 12px;
    position: relative; }
    .footer-location:before {
      position: absolute;
      top: 0;
      left: 0;
      content: url(../images/icon-location.png); }
  .footer-phone {
    margin-left: 39px;
    font-size: 14px;
    color: #fff; }
  .footer-feedback {
    margin-top: 4px;
    margin-right: 135px;
    font-size: 14px;
    color: #999999;
    -moz-transition: all ease-in-out 0.3s;
    -o-transition: all ease-in-out 0.3s;
    -webkit-transition: all ease-in-out 0.3s;
    transition: all ease-in-out 0.3s;
    text-decoration: underline; }
    .footer-feedback:hover {
      color: #fff; }
  .footer-socials {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-right: 113px;
    margin-top: 7px; }
    .footer-socials a:not(:last-child) {
      margin-right: 44px; }
  .footer-logo {
    margin-right: 30px;
    margin-top: 7px; }

.minigame {
  min-height: 100vh;
  position: relative;
  padding-bottom: 570px;
  background-size: cover;
  background-position: center center;
  background: -webkit-radial-gradient(circle 1103px at 50% 30.39%, #5b003c 0%, #03091f 76%, #03091f 100%);
  background: -o-radial-gradient(circle 1103px at 50% 30.39%, #5b003c 0%, #03091f 76%, #03091f 100%);
  background: radial-gradient(circle 1103px at 50% 30.39%, #5b003c 0%, #03091f 76%, #03091f 100%); }
  .minigame .main-socials {
    z-index: 1;
    right: auto;
    left: 20px;
    top: 305px; }
  .minigame-gradient {
    width: 100%;
    height: calc(100% - 100px);
    position: absolute;
    top: 100px;
    left: 0;
    pointer-events: none;
    background-size: cover;
    background-image: url(../images/small-bg.png);
    background-repeat: no-repeat; }
  .minigame-header {
    padding-top: 19px;
    height: 100px;
    background-color: rgba(0, 0, 0, 0.4); }
    .minigame-header-logo-mozgva {
      margin-left: 10px;
      float: left; }
    .minigame-header-logo-goods {
      margin-right: 37px;
      margin-left: 47px;
      margin-top: 8px;
      float: left; }
    .minigame-header-title {
      padding-left: 47px;
      border-left: 1px solid rgba(255, 255, 255, 0.1);
      margin-top: -20px;
      height: 100px;
      line-height: 104px;
      font-family: "GraublauSlabBold";
      font-size: 36px;
      float: left; }
    .minigame-header-button {
      font-size: 16px;
      width: 189px;
      height: 44px;
      line-height: 44px;
      text-align: center;
      border-radius: 22px;
      -webkit-box-shadow: 0 10px 50px rgba(255, 0, 5, 0.7);
      box-shadow: 0 10px 50px rgba(255, 0, 5, 0.7);
      display: inline-block;
      background-color: #ff0000;
      background-image: -webkit-gradient(linear, left top, left bottom, from(#ff0e0e), to(#ff4800));
      background-image: -webkit-linear-gradient(top, #ff0e0e 0%, #ff4800 100%);
      background-image: -o-linear-gradient(top, #ff0e0e 0%, #ff4800 100%);
      background-image: linear-gradient(to bottom, #ff0e0e 0%, #ff4800 100%);
      -moz-transition: all ease-in-out 0.3s;
      -o-transition: all ease-in-out 0.3s;
      -webkit-transition: all ease-in-out 0.3s;
      transition: all ease-in-out 0.3s; }
      .minigame-header-button:hover {
        -webkit-box-shadow: 0 10px 50px rgba(255, 0, 5, 0.9);
        box-shadow: 0 10px 50px rgba(255, 0, 5, 0.9); }
      .minigame-header-button-wrap {
        float: right;
        position: relative; }
        .minigame-header-button-wrap img {
          pointer-events: none;
          position: absolute;
          width: 233px;
          left: -20px;
          top: -26px; }
  .minigame-body {
    padding-top: 19px; }
    .minigame-body .container {
      position: relative; }
  .minigame-fireworks {
    left: calc(50% - 870px);
    position: absolute;
    width: 1774px;
    height: 977px;
    top: 223px;
    pointer-events: none;
    background-image: url(../images/smallgame-fireworks.png);
    background-repeat: no-repeat; }
  .minigame-stripes {
    left: calc(50% - 907px);
    position: absolute;
    width: 1821px;
    height: 1178px;
    top: 139px;
    pointer-events: none;
    background-image: url(../images/smallgame-stripes.png);
    background-repeat: no-repeat; }
  .minigame-progression {
    padding: 0 48px;
    margin-bottom: 60px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
    .minigame-progression-unit {
      color: #000;
      font-style: italic;
      height: 30px;
      line-height: 26px;
      text-align: center;
      border-radius: 6px;
      background-color: rgba(203, 104, 254, 0.3);
      width: calc(10% - 10px); }
      .minigame-progression-unit:not(:last-child) {
        margin-right: 10px; }
      .minigame-progression-unit.current {
        background: -webkit-gradient(linear, right top, left top, from(#cc66ff), to(#33ff99));
        background: -webkit-linear-gradient(right, #cc66ff 0%, #33ff99 100%);
        background: -o-linear-gradient(right, #cc66ff 0%, #33ff99 100%);
        background: linear-gradient(to left, #cc66ff 0%, #33ff99 100%); }
      .minigame-progression-unit.done {
        background-color: #2af498; }
  .minigame-question-unit {
    width: 100%; }
    .minigame-question-unit-video {
      margin: 0 auto;
      margin-bottom: 5px;
      width: 1180px;
      border-radius: 6px;
      overflow: hidden; }
    .minigame-question-unit-answer {
      width: 850px;
      margin: 0 auto; }
      .minigame-question-unit-answer.compare .minigame-question-unit-answer-next {
        float: none;
        margin-left: auto;
        margin-right: auto; }
      .minigame-question-unit-answer-picker {
        margin-top: 50px;
        float: left;
        width: 480px;
        height: 66px;
        line-height: 66px;
        color: #000;
        -webkit-box-shadow: 0 3px 7px rgba(0, 0, 255, 0.2);
        box-shadow: 0 3px 7px rgba(0, 0, 255, 0.2);
        border-radius: 6px;
        position: relative;
        background-color: #ffffff; }
       .minigame-question-unit-answer-picker.hidden{
          display: none;
       } 
        .minigame-question-unit-answer-picker.disabled {
          pointer-events: none; }
        .minigame-question-unit-answer-picker.open .wrap {
          height: auto; }
        .minigame-question-unit-answer-picker.open .minigame-question-unit-answer-picker-unit.chosen {
          border-top-left-radius: 0px;
          border-top-right-radius: 0px; }
        .minigame-question-unit-answer-picker-unit {
          cursor: pointer;
          -moz-transition: all ease-in-out 0.3s;
          -o-transition: all ease-in-out 0.3s;
          -webkit-transition: all ease-in-out 0.3s;
          transition: all ease-in-out 0.3s;
          width: 100%;
          background-color: #fff;
          padding-left: 20px;
          height: 66px;
          line-height: 66px; }
          .minigame-question-unit-answer-picker-unit{
            border-bottom:1px solid #f3f3f3;
          }
          .minigame-question-unit-answer-picker-unit.chosen {
            border-top-left-radius: 6px;
            border-top-right-radius: 6px;
            border-bottom-left-radius: 6px;
            border-bottom-right-radius: 6px; }
        .minigame-question-unit-answer-picker .wrap {
          height: 0;
          overflow: hidden;
          border-top-left-radius: 6px;
          border-top-right-radius: 6px;
          width: 100%;
          position: absolute;
          bottom: 100%; }
          .minigame-question-unit-answer-picker .wrap .minigame-question-unit-answer-picker-unit:hover {
            background-color: #f3f3f3; }
      .minigame-question-unit-answer-next {
        padding-left: 10px;
        position: relative;
        cursor: pointer;
        margin-top: 50px;
        margin-left: 20px;
        border-radius: 33px;
        float: left;
        color: #1d212a;
        width: 170px;
        height: 66px;
        text-align: center;
        line-height: 66px;
        background-color: #33cc33;
        -moz-transition: all ease-in-out 0.3s;
        -o-transition: all ease-in-out 0.3s;
        -webkit-transition: all ease-in-out 0.3s;
        transition: all ease-in-out 0.3s; }
        .minigame-question-unit-answer-next:before {
          top: 2px;
          left: 32px;
          position: absolute;
          content: url(../images/icon-true.png); }
        .minigame-question-unit-answer-next:hover {
          background-color: #3fe73f; }
        .minigame-question-unit-answer-next.disabled {
          cursor: auto;
          background-color: rgba(222, 222, 222, 0.5); }
          .minigame-question-unit-answer-next.disabled:before {
            top: 2px;
            left: 32px;
            position: absolute;
            content: url(../images/icon-false.png); }
        .minigame-question-unit-answer-next.timeout {
          background-color: #00fcff; }
          .minigame-question-unit-answer-next.timeout:before {
            top: 6px;
            left: 32px;
            position: absolute;
            content: url(../images/icon-next.png); }
      .minigame-question-unit-answer-timer {
        margin-right: 28px;
        float: left;
        text-align: center;
        line-height: 130px;
        font-family: 'GraublauSlabHeavy';
        font-size: 100px;
        width: 152px;
        height: 152px;
        background-image: url(../images/timer-bg.png); }
    .minigame-question-unit.last .minigame-question-unit-video {
      padding-top: 22px;
      padding-left: 41px;
      height: 665px;
      background-color: #6238ff; }
    .minigame-question-unit.last .main-buttons-unit-wrap {
      margin-top: 38px;
      margin-left: 90px; }
      .minigame-question-unit.last .main-buttons-unit-wrap img {
        position: absolute;
        top: -51px;
        left: -37px; }
    .minigame-question-unit.last .main-branch {
      top: 10px;
      -webkit-transform: scaleX(-1);
      -ms-transform: scaleX(-1);
      transform: scaleX(-1); }
    .minigame-question-unit .share-wrap{
          position: absolute;
        top: 88px;
         left: 600px;
     }
    .minigame-question-unit .ya-share2{
      margin-top: 10px;
    }
    .ya-share2{
      
    }
    .minigame-question-unit.last .lastSlide-kurazh .hide{
      display: none;
    } 
    .minigame-question-unit.last .lastSlide-kurazh-image {
      margin-right: 19px;
      float: left; }
    .minigame-question-unit.last .lastSlide-kurazh-text {
      margin-top: 29px;
      width: 420px;
      float: left; }
    .minigame-question-unit.last .lastSlide-kurazh .title {
      margin-bottom: 10px;
      line-height: 24px;
      font-family: 'GraublauSlabBold';
      font-size: 24px;
      position: relative; }
    .minigame-question-unit.last .lastSlide-kurazh .subtext {
      padding: 0 10px;
      display: inline-block;
      background-color: #1d28ff;
      line-height: 30px; }
    .minigame-question-unit.last .lastSlide-result {
      padding-right: 35px;
      text-align: center;
      width: 560px;
      margin-top: 0px;
      font-size: 24px; }
      .minigame-question-unit.last .lastSlide-result span {
        display: inline-block;
        vertical-align: top;
        line-height: 30px;
        margin-top: 108px; }
      .minigame-question-unit.last .lastSlide-result .number {
        margin-right: 30px;
        line-height: 250px;
        display: inline-block;
        font-size: 250px;
        font-family: "GraublauSlabHeavyItalic"; }
    .minigame-question-unit.last .lastSlide-branch {
      pointer-events:   none;
      position: absolute;
      top: 109px;
      right: 49px;
      width: 632px;
      height: 555px;
      background-image: url(../images/branch-small.png); }

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0; }

.biggame {
  background-size: cover;
  background-position: center center;
  background: -webkit-radial-gradient(circle 1103px at 50% 30.39%, #5b003c 0%, #03091f 76%, #03091f 100%);
  background: -o-radial-gradient(circle 1103px at 50% 30.39%, #5b003c 0%, #03091f 76%, #03091f 100%);
  background: radial-gradient(circle 1103px at 50% 30.39%, #5b003c 0%, #03091f 76%, #03091f 100%);
  min-height: 100vh;
  position: relative;
  padding-bottom: 570px; }
  .biggame .main-socials {
    z-index: 1;
    right: auto;
    left: 20px;
    top: 305px; }
  .biggame-body-wrap {
    padding-top: 19px; }
    .biggame-body-wrap .container {
      position: relative; }
  .biggame-progression {
    -moz-transition: all ease-in-out 0.3s;
    -o-transition: all ease-in-out 0.3s;
    -webkit-transition: all ease-in-out 0.3s;
    transition: all ease-in-out 0.3s;
    padding: 0 48px;
    margin-bottom: 60px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
    .biggame-progression.transparent {
      opacity: 0; }
    .biggame-progression-unit {
      width: 160px;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      color: #000;
      font-style: italic;
      height: 30px;
      line-height: 26px;
      text-align: center;
      border-radius: 6px;
      background-color: rgba(203, 104, 254, 0.3); }
      .biggame-progression-unit:not(:last-child) {
        margin-right: 10px; }
      .biggame-progression-unit .number {
        height: 30px;
        line-height: 30px;
        display: none; }
      .biggame-progression-unit .name {
        text-align: left;
        color: #2af498;
        line-height: 24px;
        font-family: "GraublauSansDisplayRegular";
        font-weight: 700;
        display: none; }
      .biggame-progression-unit .title {
        border-right: 1px solid rgba(0, 0, 0, 0.4);
        height: 30px;
        float: left;
        width: 30px; }
      .biggame-progression-unit.current {
        background: -webkit-gradient(linear, right top, left top, from(#cc66ff), to(#33ff99));
        background: -webkit-linear-gradient(right, #cc66ff 0%, #33ff99 100%);
        background: -o-linear-gradient(right, #cc66ff 0%, #33ff99 100%);
        background: linear-gradient(to left, #cc66ff 0%, #33ff99 100%); }
        .biggame-progression-unit.current .name {
          display: block; }
        .biggame-progression-unit.current .number {
          display: inline; }
      .biggame-progression-unit.done {
        background-color: #2af498; }
        .biggame-progression-unit.done .number {
          display: inline; }
      .biggame-body .main-buttons{
        margin-top: 70px;
      }
      .biggame-body .minigame-question-unit-answer-picker{
        margin-top:0;
         margin-left:34px;
         margin-bottom: 60px;
         width:391px;
        }
  .biggame-question-unit.roundResult .biggame-question-unit-answer-next {
    margin-top: 100px !important; }
  .biggame-question-unit.roundResult .main-header-message {
    margin-left: 71px; }
  .biggame-question-unit.teamsAdding .main-header-message {
    margin-left: 90px; }
  .biggame-question-unit.teamsAdding .biggame-question-unit-answer-next {
    margin-top: 40px !important; }
  .biggame-question-unit.final .main-header-message {
    margin-left: 90px; }
  .biggame-question-unit .main-header-message {
    margin-bottom: 60px;
    margin-left: 20px;
    margin-top: 22px;
    display: block; }
    .biggame-question-unit .main-header-message-text {
      margin-top: 30px; }
    .biggame-question-unit .main-header-message-title:after {
      display: none; }
  .biggame-question-unit .share-wrap{
        position: absolute;
      top: 85px;
      left: 670px;
  }
   .biggame-question-unit .ya-share2{
    margin-top:10px;
   }
  .biggame-question-unit-video {
    margin: 0 auto;
    margin-bottom: 5px;
    width: 1180px;
    border-radius: 6px;
    overflow: hidden; }
  .biggame-question-unit-resultlist {
    padding-left: 200px;
    padding-right: 185px;
    margin-top: 80px; }
    .biggame-question-unit-resultlist-unit {
      position: relative;
      margin-bottom: 50px;
      height: 80px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
      .biggame-question-unit-resultlist-unit.overlap:after {
        font-size: 48px;
        font-family: "GraublauSlabBold";
        content: "...";
        top: 20px;
        right: 331px;
        position: absolute; }
      .biggame-question-unit-resultlist-unit .title {
        padding-top: 20px;
        position: relative;
        overflow: hidden;
        width: calc(63% - 40px);
        margin-right: 40px;
        font-size: 48px;
        font-family: "GraublauSlabBold"; }
        .biggame-question-unit-resultlist-unit .title span {
          width: 500%;
          position: absolute; }
      .biggame-question-unit-resultlist-unit .result {
        width: 160px;
        margin-right: 10px;
        text-align: center;
        font-size: 160px;
        font-family: "GraublauSlabHeavyItalic"; }
      .biggame-question-unit-resultlist-unit > span {
        display: inline-block;
        margin-top: 20px;
        font-size: 24px; }
  .biggame-question-unit-title {
    margin-bottom: 50px;
    text-align: center;
    color: #ffffff;
    font-family: "GraublauSlabBold";
    font-size: 48px;
    font-weight: 700;
    line-height: 48px; }
  .biggame-question-unit-list {
    padding: 0 71px; }
    .biggame-question-unit-list-unit {
      text-align: center;
      color: #fff;
      height: 100%;
      background-color: transparent;
      line-height: 130px;
      border: none;
      outline: none;
      font-size: 24px;
      width: calc(100% - 275px); }
      .biggame-question-unit-list-unit-btn {
        padding-left: 25px;
        position: relative;
        cursor: pointer;
        margin-left: 20px;
        border-radius: 33px;
        float: left;
        color: rgba(255, 255, 255, 0.25);
        width: 226px;
        height: 66px;
        text-align: center;
        line-height: 66px;
        background-color: rgba(255, 255, 255, 0.1);
        -moz-transition: all ease-in-out 0.3s;
        -o-transition: all ease-in-out 0.3s;
        -webkit-transition: all ease-in-out 0.3s;
        transition: all ease-in-out 0.3s; }
        .biggame-question-unit-list-unit-btn:before {
          top: 5px;
          left: 22px;
          position: absolute;
          content: url(../images/icon-plus-light.png); }
        .biggame-question-unit-list-unit-btn:hover {
          color: #1d212a;
          background-color: #00fcff; }
          .biggame-question-unit-list-unit-btn:hover:before {
            content: url(../images/icon-plus.png); }
      .biggame-question-unit-list-unit-wrap {
        margin-bottom: 20px;
        position: relative;
        height: 130px;
        background-color: rgba(3, 10, 31, 0.4);
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center; }
        .biggame-question-unit-list-unit-wrap.locked .biggame-question-unit-list-unit-btn:before {
          top: -2px;
          content: url(../images/icon-minus-light.png); }
        .biggame-question-unit-list-unit-wrap.locked .biggame-question-unit-list-unit-btn:hover:before {
          content: url(../images/icon-minus.png); }
  .biggame-question-unit-answer.compare .biggame-question-unit-answer-next {
    float: none;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto; }
  .biggame-question-unit-answer-next {
    padding-left: 10px;
    position: relative;
    cursor: pointer;
    margin-left: 20px;
    border-radius: 33px;
    float: left;
    color: #1d212a;
    width: 170px;
    height: 66px;
    text-align: center;
    line-height: 66px;
    background-color: #33cc33;
    -moz-transition: all ease-in-out 0.3s;
    -o-transition: all ease-in-out 0.3s;
    -webkit-transition: all ease-in-out 0.3s;
    transition: all ease-in-out 0.3s; }
  .biggame-question-unit-answer-prev{
    
    position: relative;
    cursor: pointer;
    margin-left: 20px;
    border-radius: 33px;
    float: left;
    color: #1d212a;
    width: 170px;
    height: 66px;
    text-align: center;
    line-height: 66px;
    background-color: #00fcff;
    -moz-transition: all ease-in-out 0.3s;
    -o-transition: all ease-in-out 0.3s;
    -webkit-transition: all ease-in-out 0.3s;
    margin-left:375px;
    transition: all ease-in-out 0.3s; }
  }
    .biggame-question-unit-answer-next:before {
      top: 2px;
      left: 32px;
      position: absolute;
      content: url(../images/icon-true.png); }
    .biggame-question-unit-answer-next:hover {
      background-color: #3fe73f; }
    .biggame-question-unit-answer-next.disabled {
      pointer-events: none;
      cursor: notAllowed;
      background-color: rgba(222, 222, 222, 0.5); }
      .biggame-question-unit-answer-next.disabled:before {
        top: 2px;
        left: 32px;
        position: absolute;
        content: url(../images/icon-false.png); }
    .biggame-question-unit-answer-next.timeout {
      background-color: #00fcff; }
      .biggame-question-unit-answer-next.timeout:before {
        top: 6px;
        left: 32px;
        position: absolute;
        content: url(../images/icon-next.png); }
  .biggame-question-unit-answer-timer {
    margin-left: 50px;
    margin-right: 9px;
    float: left;
    text-align: center;
    line-height: 130px;
    font-family: 'GraublauSlabHeavy';
    font-size: 100px;
    width: 152px;
    height: 152px;
    background-image: url(../images/timer-bg.png); }
  .biggame-question-unit-answer-input {
    text-align: center;
    color: #fff;
    height: 100%;
    background-color: transparent;
    line-height: 130px;
    border: none;
    outline: none;
    font-size: 24px;
    width: calc(100% - 215px); }
    .biggame-question-unit-answer-input-wrap {
      margin-top: 15px;
      float: left;
      width: calc(100% - 259px);
      position: relative;
      height: 130px;
      background-color: rgba(3, 10, 31, 0.4);
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; }
  .biggame-question-unit-teams-unit {
    margin-bottom: 30px;
    width: 236px;
    margin-right: 50px; }
    .biggame-question-unit-teams-unit:nth-child(4n) {
      margin-right: 0; }
    .biggame-question-unit-teams-unit-title {
      font-family: 'GraublauSansDisplayLight';
      font-size: 30px;
      min-height: 70px;
      line-height: 36px; }
    .biggame-question-unit-teams-unit-input {
      background-color: transparent;
      width: 100%;
      height: 130px;
      border: none;
      text-align: center;
      font-size: 100px;
      line-height: 130px;
      color: #fff;
      border-radius: 6px;
      vertical-align: top;
      font-family: "GraublauSansDisplayRegular"; }
      .biggame-question-unit-teams-unit-input-wrap {
        margin-top: 34px;
        background-color: rgba(3, 10, 31, 0.4);
        width: 100%;
        height: 130px; }
    .biggame-question-unit-teams-unit-controls {
      margin-top: 10px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
      .biggame-question-unit-teams-unit-controls-unit {
        cursor: pointer;
        width: 110px;
        height: 46px;
        border-radius: 6px;
        -moz-transition: all ease-in-out 0.3s;
        -o-transition: all ease-in-out 0.3s;
        -webkit-transition: all ease-in-out 0.3s;
        transition: all ease-in-out 0.3s;
        background-color: rgba(255, 255, 255, 0.4); }
        .biggame-question-unit-teams-unit-controls-unit.plus {
          background-position: center center;
          background-repeat: no-repeat;
          background-image: url(../images/icon-plus.png); }
        .biggame-question-unit-teams-unit-controls-unit.minus {
          background-position: center center;
          background-repeat: no-repeat;
          background-image: url(../images/icon-minus.png); }
        .biggame-question-unit-teams-unit-controls-unit:hover {
          background-color: #00fcff; }
  .biggame-question-unit-teams-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 0 93px; }
  .biggame-question-unit-resultTable {
    width: 958px;
    margin: 0 auto;
    background-color: #fff;
    border-radius: 6px;
    overflow: hidden;
    color: #000;
    margin-top: 78px; }
    .biggame-question-unit-resultTable .header {
      -webkit-box-shadow: 0px 18px 42px -25px rgba(0, 0, 0, 0.75);
      -moz-box-shadow: 0px 18px 42px -25px rgba(0, 0, 0, 0.75);
      box-shadow: 0px 18px 42px -25px rgba(0, 0, 0, 0.75);
      line-height: 72px;
      color: rgba(0, 0, 0, 0.7); }
      .biggame-question-unit-resultTable .header td {
        font-size: 18px; }
      .biggame-question-unit-resultTable .header tr {
        line-height: 72px; }
      .biggame-question-unit-resultTable .header td:first-child {
        font-weight: 400;
        font-size: 18px; }
      .biggame-question-unit-resultTable .header td:nth-child(9) {
        padding-left: 27px;
        width: 169px;
        font-size: 18px;
        font-weight: 400;
        text-align: left; }
    .biggame-question-unit-resultTable tr {
      font-size: 24px;
      line-height: 60px; }
      .biggame-question-unit-resultTable tr:nth-child(2n) {
        background-color: #fafafa; }
    .biggame-question-unit-resultTable td:first-child {
      padding-left: 33px;
      font-weight: 700;
      font-size: 24px; }
    .biggame-question-unit-resultTable td:nth-child(1) {
      width: 400px; }
    .biggame-question-unit-resultTable td:nth-child(2) {
      text-align: right;
      width: 127px;
      padding-right: 14px; }
    .biggame-question-unit-resultTable td:nth-child(3) {
      width: 50px;
      text-align: center; }
    .biggame-question-unit-resultTable td:nth-child(4) {
      width: 40px;
      text-align: center; }
    .biggame-question-unit-resultTable td:nth-child(5) {
      width: 50px;
      text-align: center; }
    .biggame-question-unit-resultTable td:nth-child(6) {
      width: 33px;
      text-align: center; }
    .biggame-question-unit-resultTable td:nth-child(7) {
      width: 53px;
      text-align: center; }
    .biggame-question-unit-resultTable td:nth-child(8) {
      width: 36px;
      text-align: center; }
    .biggame-question-unit-resultTable td:nth-child(9) {
      padding-left: 27px;
      width: 169px;
      font-size: 48px;
      font-weight: 700;
      text-align: left; }



      a#button-smallgame-end-restart {
    margin-top: 35px;
}
