include ./includes/components.jade

doctype html
html
	+head ('Index')

	body
		.body-wrap
			section.main
				.hashtag.hashtag-01
					img(src="images/hashtag.png" alt="это мозгва детка")
				.hashtag.hashtag-02
					img(src="images/hashtag.png" alt="это мозгва детка")
				.hashtag.hashtag-03
					img(src="images/hashtag.png" alt="это мозгва детка")
				.hashtag.hashtag-04
					img(src="images/hashtag.png" alt="это мозгва детка")
				.main-header
					.container
						a(href="#/").mozgva-logo
							img(src="images/mozgva-logo.png" alt="mozgva")
						a(href="#/").goods-logo
							img(src="images/goods-logo.png" alt="goods")
						.main-header-message
							.main-header-message-image
								img(src="images/kurazh-image.png" alt="kurazh")
							.main-header-message-text
								.main-header-message-title Кураж Бамбей
								.main-header-message-subtext Здравствуй, дружок! Во-первых с новым годом тебя! А во-вторых,
								.main-header-message-subtext добро пожаловать на онлайн-олимпиаду «Мозгва»!
							.clear

						.clear
				.container
					

					.main-socials
						a(href="#/").main-socials-unit
							img(src="images/icon-insta.png" alt="instagram")
						a(href="#/").main-socials-unit
							img(src="images/icon-fb.png" alt="instagram")
						a(href="#/").main-socials-unit
							img(src="images/icon-vk.png" alt="instagram")
					.main-content
						h1.main-title <span>«</span>Мозгва<span>»</span><br>сериальная
						.main-buttons
							.main-buttons-unit-wrap
								img(src="images/buttons-lights-01.png" alt="lights").lightbulb
								img(src="images/buttons-balls-01.png" alt="lights").balls
								a(href="small.html").main-buttons-unit.small Понарошку
							.main-buttons-unit-wrap
								img(src="images/buttons-lights-02.png" alt="lights")
								a(href="#/").main-buttons-unit.big Играть всерьез
						.main-text
							.main-text-big — «Мозгва» — это что?<br>— Это нечто!
							.main-text-small Культурный вид спортивного отдыха, который может подарить как легкий веселый вечер, так и парализовать<br> вашу команду одной мыслью — победой в грандиозной Лиге Чемпионов.
							.main-text-small Спортивного отдыха, который может подарить как легкий веселый вечер, так и парализовать вашу команду одной мыслью — победой в грандиозной Лиге Чемпионов.
				.main-figure
				.main-stripes
				.main-lightbulbs-01
				.main-lightbulbs-02
				.main-fireworks
				.main-branch
			
					
		+footer